.App {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /*mask-image: linear-gradient(transparent 4%,#000);*/
  
}
.Overlay{
  background-color:rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Top,.Bottom{
  color: #fff;
  margin:4rem;
  flex:1 1 50%;
}
.Top{
  width:50%;
}
.Bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.Quote{
  font-size:18px;
  font-family: "InterRegular";
}
.Author{
  font-size:18px;
  font-family: "InterBold";
}
.Greeting{
  font-size:20px;
  line-height: 28px;
  font-family: "InterRegular";
  letter-spacing: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.Greeting-logo {
  width: 22px;
  pointer-events: none;
  padding-right: 22px;
}
.Clock{
  font-size:200px;
  font-family: "InterBold";
}
.Clock>.Time-zone{
  font-size:40px;
  font-family: "InterLight";
}
.Location{
  font-size:40px;
  font-family: "InterBold";
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.ExpandButton{
  background-color: #ffffff;
  width:146px;
  border-radius: 30px;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.ExpandButton .ButtonName{
  font-family: "InterBold";
  font-size:16px;
  line-height: 28px;
  letter-spacing: 5px;
  color:#000000;
  text-transform: uppercase;
  opacity: .5;
  display: flex;
  align-items: flex-end;
  padding-left:15px;
}
.ExpandButton .ArrowBg{
  width: 40px;
  height:40px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ExpandButton:hover .ArrowBg{
  background-color:#999999 ;
}
.ArrowBg img{
  width: 12px;
  height: auto;
}

.ExpandPanel{
  background-color: #ffffff;
  opacity: .8;
}


/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
